* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
}
::-webkit-scrollbar {
    display: none; /* Chrome Safari */
}

html,
body {
    scroll-behavior: smooth;
}

.wrapper {
    position: relative;
    /* scroll-behavior: smooth;
    overflow: hidden; */
}

section {
    /* transition: all .3s linear; */
}

#home {
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 100%;
    background: no-repeat center right fixed url('./img/background.jpg');
    background-size: cover;
}

#home .color-model {
    width: 100%;
    height: 100%;
    background-color: #22A39F;
    opacity: .75;
}

#home .text-wrap {
    position: absolute;
    top: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 63px;
    width: 100%;
}

#home .arrow-bottom {
    position: absolute;
    bottom: 0;
    right: 4%;
    width: 110px;
    height: 80px;
    background-color: #222;
    display: flex;
    justify-content: center;
}

#home .arrow-bottom img {
    width: 36px;
    height: 36px;
    padding-top: 20px;
    animation-name: wiggle;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    0% {
        padding-top: 20px;
    }
    50% {
        padding-top: 28px;
    }
    100% {
        padding-top: 20px;
    }
}


/* 右侧导航栏 */

.nav-box {
    /* display: none; */
    width: 110px;
    background-color: #222;
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
}

.navbar .nav-item {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar .active {
    background-color: #22A39F;
}

.navbar .nav-item a {
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* 基本信息 */

section .container {
    padding: 3% 20%;
}

section .s-title {
    text-align: center;
    font-size: 46px;
    color: #22A39F;
    padding: 20px 0;
    font-weight: 300;
}

section .desc {
    text-align: center;
    color: #727878;
    font-size: 21px;
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

section .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
    padding-top: 30px;
}

section .content .content-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section .content .content-item-left {
    padding-left: 30px;
    padding-right: 30px;
}

section .content .content-item .title {
    font-size: 28px;
    color: #22a39f;
    padding: 20px 0;
    font-weight: 300;
}

section .content .content-item .text {
    font-size: 15px;
    line-height: 1.64;
    color: #434242;
}

section .content .avatar-box {
    padding-top: 20px;
}

section .content .content-item .avatar {
    width: 100%;
}

section .content .content-item .avatar img {
    width: 100%;
    border-radius: 50%;
    /* border: 10px solid rgb(243, 239, 224) */
}

section .content .detail-info-box p {
    padding-top: 4px;
    padding-bottom: 8px;
    color: #434242;
}


/* 个人能力 */

#skill {
    background-color: #eee;
    padding-bottom: 20px;
}

#skill .container .desc {
    border-bottom: 1px solid #aaa;
}

#skill .skill-box {
    padding-top: 28px;
}

#skill .skill-box .title {
    font-size: 28px;
    color: #22A39f;
    font-weight: 300;
}

#skill .skill-box .skill-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* margin-bottom: 30px; */
}

#skill .skill-box hr {
    margin: 20px 0;
}

#skill .skill-box .skill-list .skill-item {
    width: 48%;
    display: flex;
    justify-content: space-between;
    line-height: 2;
}

#skill .skill-box .skill-list .skill-item:hover {
    background-color: #f2f2f2;
}

#skill .skill-box .skill-list .skill-item img {
    transition: margin .2s;
}

#skill .skill-box .skill-list .skill-item:hover img {
    margin-left: 2px;
}

#skill .skill-box .skill-list .git-btn {
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

#skill .skill-box .skill-list .git-btn .btn {
    background-color: #22A39F;
    border-color: #1c8784;
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    border-radius: 5px;
}

#skill .skill-box .skill-list .git-btn .btn:hover {
    background-color: #1c8784;
    border-color: #1c8784;
}


/* 个人项目 */

#project {
    background-color: #F3EFE0;
}

#project hr {
    margin-bottom: 40px;
}

#project .pro-list {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}

#project .pro-list .pro-item {
    width: 48%;
    margin-bottom: 20px;
}

#project .pro-list .pro-item figure {
    width: 100%;
    /* height: 100%; */
    position: relative;
    overflow: hidden;
}

#project .pro-list .pro-item figure .link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#project .pro-list .pro-item figure figcaption {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 10% 15%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .7;
    color: #fff;
    display: none;
    overflow: hidden;
}

#project .pro-list .pro-item figure:hover figcaption {
    display: block;
}

#project .pro-list .pro-item figure figcaption h3 {
    color: #fff;
    font-weight: 600;
    margin-bottom: 5px;
    font-size: 28px;
    padding-bottom: 16px;
}

#project .pro-list .pro-item figure figcaption .line {
    height: 2px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 20px;
}

#project .pro-list .pro-item figure:hover figcaption .line {
    animation-name: line;
    animation-duration: .4s;
    animation-timing-function: linear;
}

@keyframes line {
    from {
        width: 0%;
    }
    to {
        width: 100%;
    }
}

#project .pro-list .pro-item figure figcaption h4 {
    color: #fff;
    margin-bottom: 10px;
    margin-left: 0;
}

#project .pro-list .pro-item figure:hover figcaption h4 {
    animation-name: toLeft;
    animation-duration: .4s;
    animation-timing-function: linear;
}

#project .pro-list .pro-item figure figcaption p {
    margin-left: 0;
    white-space: nowrap;
}

#project .pro-list .pro-item figure:hover figcaption p {
    animation-name: toLeft;
    animation-duration: .4s;
    animation-timing-function: linear;
}

@keyframes toLeft {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}

#project .pro-list .pro-item figure figcaption p span {
    color: #fff;
    font-weight: 300;
}

#project .pro-list .pro-item img {
    /* width: 100%;
    height: 100%; */
    width: 100%;
    height: 300px;
}


/* 联系方式 */

#contact {
    background-color: #434242;
}

#contact .container {
    padding-bottom: 10px;
}

#contact .container .s-title {
    font-weight: 300;
    color: #fff;
}

#contact .container .contact-list {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#contact .container .contact-list .contact-item {
    width: 46%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
}

#contact .container .contact-list .contact-item:hover .icon {
    background-color: #eee;
}

#contact .container .contact-list .contact-item:hover .msg {
    color: #fff;
}

#contact .container .contact-list .contact-item .icon {
    width: 38px;
    height: 38px;
    border-radius: 3px;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}

#contact .container .contact-list .contact-item .msg {
    color: #999;
    flex: 1;
}

#contact .copyright {
    display: block;
    color: #999;
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
}


/* 走马灯标题 */

#home .text-wrap .sm-title {
    /* display: none; */
    /* visibility: hidden; */
    width: 0;
    height: 0;
    overflow: hidden;
}

.text-wrap {
    position: absolute;
    top: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.text-wrap .inner {
    width: 200px;
    height: 100px;
    line-height: 100px;
    font-size: 32px;
    font-family: sans-serif;
    font-weight: bold;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
}

.text-wrap .inner span {
    color: #fff;
}

.text-wrap .inner:first-child {
    background-color: rgb(153, 153, 153, .3);
    transform-origin: left;
    transform: perspective(300px) rotateY(-67.3deg);
}

.text-wrap .inner:nth-child(2) {
    background-color: rgb(153, 153, 153, .3);
    transform-origin: right;
    transform: perspective(300px) rotateY(67.3deg);
}

@keyframes marquee {
    from {
        left: 100%;
    }
    to {
        left: -100%;
    }
}

.text-wrap .inner span {
    position: absolute;
    animation: marquee 5s linear infinite;
}

.text-wrap .inner:first-child span {
    animation-delay: 2.5s;
    left: -100%;
}


/* 适应小屏幕(960px) */

@media screen and (max-width: 960px) {
    /* 小屏幕隐藏走马灯标题 */
    #home .text-wrap .inner {
        /* display: none; */
        /* visibility: hidden; */
        width: 0;
        height: 0;
        overflow: hidden;
    }
    #home .text-wrap .sm-title {
        /* display: none; */
        /* visibility: hidden; */
        width: auto;
        height: auto;
        overflow: hidden;
        color: #fff;
    }
    section .container {
        padding: 6% 18%;
    }
    section .s-title {
        text-align: center;
        font-size: 38px;
        color: #22A39F;
        padding: 20px 0;
    }
    /* 基本信息 */
    section .content {
        display: grid;
        grid-template-columns: 1fr;
        padding-top: 30px;
        text-align: center;
    }
   
    section .content .content-item .avatar img {
        width: 200px;
    }
    /* 个人能力 */
    #skill .container {
        padding: 0 18%;
    }
    #skill .skill-box .skill-list .skill-item {
        width: 100%;
    }
}


/* 小屏幕(776px) */

.wrapper .nav-box-sm {
    display: none;
}

@media screen and (max-width: 776px) {
    .wrapper .nav-box {
        display: none;
    }
    .wrapper .nav-box-sm {
        display: block;
        position: relative;
        background-color: #222;
        padding: 4px 0;
        display: flex;
        justify-content: flex-end;
    }
    .wrapper .nav-box-sm .toggle-btn {
        width: 40px;
        height: 32px;
        border: 1px solid #ddd;
        border-radius: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 2%;
    }
    .wrapper .nav-box-sm .nav-list {
        position: absolute;
        width: 100%;
        text-align: center;
        top: 40px;
        background-color: #222;
        display: none;
        transition: all 1s linear;
    }
    .wrapper .nav-box-sm .nav-list .nav-item-sm {
        padding: 15px 0;
    }
    .wrapper .nav-box-sm .nav-list li.active {
        background-color: #22A39F;
    }
    .wrapper .nav-box-sm .nav-list .nav-item-sm .nav-link {
        color: #fff;
        font-weight: 600;
        font-size: 18px;
    }
    #home .arrow-bottom {
        width: 100%;
        left: 0;
        right: 0;
    }
    /* 个人项目 */
    #project .pro-list .pro-item {
        width: 100%;
    }
    /* 联系方式 */
    #contact .container .contact-list .contact-item {
        width: 100%;
    }
}
